*{
  margin: 0px;
  padding: 0px;
}
p{
  margin: 0px !important;
  padding: 0px !important;
}

#portal{
  position: relative;
  z-index: 999;
}



.navbar{
  padding: 1rem !important;
  position: sticky !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.navbar-right{
  display: flex;
  justify-content: space-evenly;
}

.title-product{
  color: black;
  font-size: 2rem;
}
.image{
  max-width: 100%;
}
.filter-body{
  display: flex;
  padding: 1rem;
  flex-direction: column;
}
.filter-footer{
  display: flex;
  justify-content: end;
  padding-top: 14rem;
}